*
{
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.flex
{
  display: flex;
}

.blue{background-color: blue;}
.yellow{background-color: yellow;}
.pink{background-color: pink;}
.orange{background-color: orange;}

.menu
{
  height: 1000px;
  width: 20%;
  background-color: #024b8d;
  float: left;
}


.logo
{
  background-color: white;
  height: 80px;
  width: 270px;
  text-align: center;
}


.logo img{
  height: 70px;
  width: 260px;
  margin-top: 5px;
}


.stu_info{
  width: 270px;
  height: 140px;
}

.stu_info img{
  height: 100px;
  width: 100px;
  margin: 20px 10px;
  border-radius: 50%;
}

.name
{
  font-size: 20px;
  color: white;
  margin: 20px 5px;
  text-align: left;
}

.menu_items div{
  height:40px;
  width: 250px;
  font-size: 20px;
  padding-top: 15px;
  padding-left: 20px;
}





.content
{
  height: 1000px;
  width: 80%;
  background-color: #f2f2f2;
  float: left;
}


.top_bar{
  height: 80px;
  width: 1600px;
  background-color:#024b8d;
}

.text{
  color: gray;
  font-size: 20px;
  padding: 30px;
}

.table{
  margin: 0px 30px 30px 30px;
  height: 300px;
  width: 950px;
  background-color: white;
  border-collapse: collapse;
}

.table table{
  height: 300px;
  width: 950px;
}

.ta td{
  border: 2px solid #ddd;
}

.ta tr:nth-child(even){
  background-color: #f2f2f2;
}




























.dropbtn {
  background-color: #024b8d;
  color: white;
  padding: 0px;
  font-size: 16px;
  border: none;
  width: 100px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #024b8d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  background-color: #024b8d;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.pr{padding:0,0,0,30;}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #024b8d;}






