//COLORS
$bright-red: #ff5851;
$yellow: #fdef52;
$gray: #343436;
$not-black-but-dark: #1c1b20;
$silver: #f8f8f8;

//GLOBAL STYLES
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	background-size: cover;
	background-repeat: no-repeat;

	font-family: monospace;
}

body {
	cursor: default;
}

//MIXIN
@mixin flexcenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

//MAIN CSS

.background {
	position: absolute;
	height: 100vh;
	width: 100%;
	background-image: url('../images/bck-2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.landing-page {
	//overflow-x: hidden;
	height: 100vh;
	width: 100%;

	background: rgba(0, 0, 0, 0.1);
	backdrop-filter: saturate(180%) blur(20px);
	-webkit-backdrop-filter: saturate(180%) blur(20px);

	@include flexcenter();
	justify-content: flex-start;

	.left {
		height: 100%;
		width: 55%;
		@include flexcenter();

		.hero-container {
			line-height: 12rem;

			.hero-txt {
				width: fit-content;
				font-size: 9rem !important;
				letter-spacing: -7px;
				font-family: sans-serif;
				font-weight: 700;
				color: rgba(255, 255, 255, 0);
				-webkit-text-stroke: 1px #fff;

				transition-duration: 400ms;
				&:hover {
					color: #fff;
					-webkit-text-stroke: 0px #fff;
				}
			}

			/*.stroke {
			color: rgba(255, 255, 255, 0);
			-webkit-text-stroke: 1px #fff;

			&:hover {
				color: #fff;
				-webkit-text-stroke: 0px #fff;
			}
		}

		.fill {
			color: #fff;
		}*/
		}
	}

	.right {
		height: 100%;
		width: 50%;
		//background-color: lightblue;
		@include flexcenter();

		.register {
			width: 300px;
			//background-color: lightcoral;
			color: #fff;

			form {
				display: flex;
				flex-direction: column;

				label {
					font-size: 1.7rem;
					//font-family: sans-serif;
					color: rgba(255, 255, 255, 0.4);

					margin-bottom: 7px;
				}

				input {
					background-color: rgba(0, 0, 0, 0);
					padding-bottom: 7px;

					outline: none;
					border: none;
					border-bottom: 1px solid rgba(255, 255, 255, 0.4);

					color: rgba(255, 255, 255, 0.4);
					letter-spacing: 3px;
					font-size: 2rem;
				}
			}
		}
	}
}

.github-link {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10000;

	p {
		a,
		a:visited {
			color: blue;
		}
	}
}

.mobile {
	display: none;

	.mobile-container {
		width: 100%;
		height: 100vh;
		padding: 0 20px;
		@include flexcenter();

		p {
			font-family: monospace !important;
			font-size: 2rem;
			text-align: center;
		}
	}
}

@media screen and (max-width: 900px) {
	main {
		display: none;
	}

	.mobile {
		display: unset;
	}
}
