//COLORS
$dark-red:#de5f5f;
$bright-red:#ff5851;
$yellow:#FDEF52;
$blue:#add8e6;
$gray:#343436;
$not-black-but-dark:#1c1b20;
$silver:#f8f8f8;

//GLOBAL STYLES
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

a{text-decoration: none;}

@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* @include flexcenter()   add this line to use the mixin */



//MAIN CSS
.main-page{
    height: 100vh;
    width: 100%; 
    display: flex;
    overflow: hidden;

    *{
        height: 100%;
    }

    .left{
        width: 30%;
        background-image: url('https://images.unsplash.com/photo-1503342564391-ebb28fc32ffe?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
        background-position: center;
    }

    .center{
        width: 30%;
        padding: 40px 40px 40px 60px;

        .container{
            height: 100%;
            width: 100%;
            position: relative;

            .logo{
                position: absolute;
                top: 0;
                left: 0;
                height: 50px;
                width: 50px;
                text-align: center;
                color: black;
                font-size: 30px;
                font-weight: 700;
                line-height: 50px;
            }

            .bars{
                position: absolute;
                top: 0;
                right: 0;
                height: 50px;
                width: 50px;
                line-height: 50px;
                font-size: 20px;
                line-height: 50px;
                
                i{
                    color:black
                }
            }

            .title{
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                height: 40%;
                width: 100%;
                color: black;
                font-size: 400%;
                font-weight: 600;
            }

            .sub-title{
                position: absolute;
                bottom: 0;
                left: 0;
                height: 60px;
                width: 100%;
                font-size: 90%;
                color: black;
                line-height: 60px;
                font-weight: 500;
            }
        }
    }

    .right{
        width: 40%;
        background-color: lightgreen;

        *{
            width: 100%;
        }

        .img2{
            height: 60%;
            background-image: url('https://images.pexels.com/photos/1853035/pexels-photo-1853035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        }

        .container{
            height: 40%;
            background-color: $yellow;
            display: flex;

            *{
                height: 100%;
            }

            .left_{
                width: 40%;
                position: relative;

                .text-container{
                    height: 80%;
                    width: 100%;
                    background-color: $gray;
                    position: relative;
                    @include flexcenter();

                    .text{
                        height: 60%;
                        width: 60%;
                        color: white;
                        font-size: 20px;
                        font-weight: 700;

                        p{
                            margin-top: 20px;
                            font-size: 15px;
                            color:rgba(255, 255, 255, 0.486);
                            font-weight: 400;
                        }
                    }
                }

                .buttons-container{
                    height: 20%;
                    width: 100%;
                    background-color: $not-black-but-dark;
                    display: flex;

                    .button{
                        height: 100%;
                        width: 50%;
                        color: white;
                        position: relative;

                        i{
                            position: absolute;
                            top: 40%;
                            left: 45%;
                        }
                                                
                        &:hover{
                            background-color: #34343646;
                        }
                    }

                    
                }
            }
            
            .right{
                width: 60%;
                background-color: $yellow;
                position: relative;
                overflow: hidden;

                .bck-txt{
                    font-size: 250px;
                    font-weight: 600;
                    color: rgba(255, 255, 255, 0.301);
                }
            }
        }
    }
}
