//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800;100&display=swap');
//font-family: 'Open Sans', sans-serif;

//COLORS
$dark-red:#de5f5f;
$bright-red:#ff5851;
$yellow:#FDEF52;
$blue:#add8e6;
$gray:#343436;
$not-black-but-dark:#1c1b20;
$silver:#f8f8f8;


//UNIVERSAL STYLES
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

a{text-decoration: none;}

@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* @include flexcenter()   add this line to use the mixin */



//MAIN CSS


.main-page{
    height: 100vh;
    width: 100%;
    background-color:white;
    display: flex;
    overflow: hidden;

    .left-bar{
        height: 100%;
        width: 5%;
        background-color: white;
        position: relative;

        .logo{
            height: 50px;
            width: 50px;
            margin-top: 10px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            line-height: 50px;
            font-size: 30px;
            font-weight: 700;
        }

        .bars{
            font-size: 25px;
            line-height: 7px;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    .main-container{
        height: 100%;
        width: 40%;
        background-image: url("https://images.pexels.com/photos/594610/pexels-photo-594610.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        position: relative;
        z-index: 5;

        .hello{
            position: absolute;
            top: 5%;
            right: 0;
            font-size: 20px;
            color: rgb(177, 174, 32);
            letter-spacing: 10px;
            text-transform: uppercase;
        }

        .title{
            position: absolute;
            top: 13%;
            left: 80%;
            font-size: 70px;
            line-height: 70px;
        }
    }

    .right{
        height: 100%;
        width: 55%;
        z-index: 4;
        margin: 20px;
        margin-right: 40px;

        .social{
            display: flex;
            position: absolute;
            right: 0;
            //z-index: 7;
            
            i{
                margin: 10px;
                font-size: 20px;
            }
        }

        .back-text{
            position: absolute;
            z-index: 1;
            font-size: 300px;
            color: rgba(0, 0, 0, 0.048);
            font-weight: 700;
        }

        
        .content{
            margin-left: 30px;
            margin-top: 60%;

            .introduction{
                display: flex;
                .vl{
                    position: absolute;
                    z-index: 2;
                    right: 0;
                    width: 60%; //length
                    border: 0.5px solid black; //thickness
                    top: 50%;
                }
        
                .intro{
                    font-size: 20px;
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    color: rgb(177, 174, 32);
                    font-weight: 100;
                }
            }

            .lorem{
                margin-top: 25px;
                height: 100px;
                width: 300px;
                font-size: 14px;
            }
        }
        
    }
}


.sample-page{
    height: 100vh;
    width: 100%;
    background-color: lightblue;
}