*{
    padding:0px;
    margin:0px;
    list-style: none;
}

.flex-box{
    display: flex;
    flex-wrap: wrap;
    width: 380px;
    top:30px;
    right:70px;
    position: absolute;
}


.hex{
    top:540px;
    left:30px;
    display: flex;
    width:800px;
    height:100px;
    background-color:#c0bcbc;
    border-radius: 10px;
    position: fixed;
}

.hex div{
    width: 100px;
    height: 70px;
    margin:auto;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    line-height: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


#window{
    height:500px;
    width:800px;
    background-color: rgb(177, 177, 177);
    position:fixed;
    top:20px;
    left:30px;
    border-radius: 15px;
}

#window div{
    position: absolute;
}

#window button
{
    position: absolute;
}

#side-bar{
    top:0;
    left:0;
    background-color: #535353;
    height:500px;
    width:100px;
    border-radius: 14px;;
}

#top-bar{
    top:20px;
    left: 150px;
    width:600px;
    height:50px;
    background-color: #777777;
    border-radius: 10px;
}


#main-content-1{
    top:100px;
    left:150px;
    background-color: rgb(160, 160, 160);
    width:170px;
    height:200px;
    border-radius: 10px;
}


#main-content-2{
    top:100px;
    left:365px;
    background-color:rgb(160, 160, 160);
    width:170px;
    height:200px;
    border-radius: 10px;
}


#main-content-3{
    top:100px;
    left:580px;
    background-color: rgb(160, 160, 160);
    width:170px;
    height:200px;
    border-radius: 10px;
}


#footer-1{
    top:340px;
    left:150px;
    background-color: rgb(145, 145, 145);
    width:600px;
    height:60px;
    border-radius: 15px;
}

#footer-2{
    top:420px;
    left:150px;
    background-color: rgb(110, 110, 110);
    width:600px;
    height:60px;
    border-radius: 15px;
}

.color-pallet div{
    width: 50px;
    height: 50px;
    margin:auto;
    border-radius: 10px;
}

.color-pallet{
    display: flex;
    width:350px;
    height:70px;
    background-color:#c0bcbc;
    border-radius: 10px;
    margin: 15px;
}